<!doctype html>
{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}

  <div class="row">
    <div class="col-4 offset-4">
      <div class="d-flex justify-content-center align-items-center"
           style="background-color:#080404; height: 50px;border-radius: 50px; padding: 50px;margin-top: 10px;margin-bottom: 10px;">
        <h1 class="m-0 text-center">Chat z doradcą zakupowym</h1>
      </div>
    </div>
  </div>

<div id="conversation" style="font-size: 20px;">
    {% if user.is_authenticated %}
     <div class="chatbot-messages"><p>Doradca zakupowy: Witaj {{user.username}}! W czym mogę ci dzisiaj pomóc?</p></div>
    {% else %}
    <div class="chatbot-messages"><p>Doradca zakupowy: Witaj nieznajomy! W czym mogę ci dzisiaj pomóc?</p></div>
    {% endif %}

    {% for message in conversation %}
        {% if message.role == 'user' %}
            {% if user.is_authenticated %}
                <div class="user-messages"><p>{{user.username}}: {{ message.content }}</p></div>
            {% else %}
                <div class="user-messages"><p>You: {{ message.content }}</p></div>
            {% endif %}
        {% elif message.role == 'assistant' %}
            <div class="chatbot-messages"><p>Doradca zakupowy: {{ message.content }}</p></div>
        {% endif %}
    {% endfor %}
<!--    {{user.username}} dal bym jak by sie dalo-->
</div>
<form id="chat-form" method="POST" action=".">
    {% csrf_token %}
    <div class="container">
        <textarea rows="2   " class="centered-textarea" id="user-input" type="text" name="user_input" placeholder="Twoja wiadomość"></textarea>
        <input type="submit" value="Wyślij">
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const chatForm = document.getElementById('chat-form');
        const userInput = document.getElementById('user-input');
        const conversation = document.getElementById('conversation');

        // Scroll conversation to the bottom
        conversation.scrollTop = conversation.scrollHeight;

        // Submit the form when the user presses Enter key
        userInput.addEventListener('keypress', (event) => {
            if (event.key === 'Enter') {
                event.preventDefault();
                chatForm.submit();
            }
        });

        // Focus on the user input field
        userInput.focus();
    });
</script>
{% endblock %}