<!doctype html>
{% load static %}
{% load bootstrap4 %}
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    <link rel="stylesheet" href="{% static 'frontend/style.css' %}">

    <title>AiProjekt</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-white" style="pointer-events: none;">Sklep z butami</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'frontend:home' %}">Sklep</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'polls:index' %}">Ankiety</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'chatbot:chatbot' %}">Chatbot</a>
            </li>
        </ul>

        <ul class="navbar-nav my-2 my-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-white" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Hey {{user.username}}</a>
            </li>

            {% else %}
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'frontend:login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'frontend:signup' %}">Signup</a>
            </li>

            {% endif %}
        </ul>
    </div>
</nav>



{% block content %}

{% endblock %}

<div class="container-fluid bg-dark mt-3">
    <center><strong><p class="text-white mb-0  ml-4 py-3" style="font-size: 18px;"><i class="fas fa-copyright"></i> Mup Oświęcim</p></strong></center>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>

</script>
</body>
</html>