{% extends 'frontend/base.html' %}

{% block content %}

<h1 class="mb-4">Łączna kwota w koszyku: ${{ cart.total_price }}</h1>
<a href="{% url 'frontend:purchase' %}" class="btn btn-success">Kup teraz</a>

<div class="container">
    <div class="row">
        {% for item in cart.items.all %}
        <div class="col-md-4 mb-4 d-flex justify-content-center">
            <div class="card text-white bg-dark" style="width: 18rem;">
                <!-- Product Image -->
                <img src="{{ item.product.image.url }}" class="card-img-top" style="height: 200px; object-fit: cover;" alt="{{ item.product.name }}">

                <div class="card-body d-flex flex-column text-center">
                    <!-- Product Name -->
                    <h5 class="card-title">{{ item.product.name }}</h5>
                    
                    <!-- Total Price for This Item -->
                    <p class="card-text">
                        <i class="fas fa-dollar-sign"></i> ${{ item.total_price }}
                    </p>

                    <!-- Remove Button (smaller and centered) -->
                    <a href="{% url 'frontend:delete_from_cart' item.product.id %}" class="btn btn-danger btn-sm mt-auto">
                        Usuń z koszyka
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>


{% endblock %}
